body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.contenu_page{
    margin: 0px 80px 80px 80px;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.logo_menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    margin: 0px 0px;
}

.logo{
    display: flex;
    width: 700px;
    height: 100px;
    object-fit: cover;
} 
.logo_menu{
    font-size: 20px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    align-items: center; 
} 

ul li:first-child{
    padding-right: 30px;
}

/* Body */

.img_back{
    background-image: url(../img/backgroung_image.jpg);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
} 

.img_back img{
    width: 200px;
    height: 60px;
}

h1{
    color: #fff;
    font-size: 30px;
}

/* paragraphe et icones */

.def{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}

.blocs{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.bloc{
    margin: 30px;
    text-align: center;
}

.mot_de_fin{
    text-align: center;
    margin-bottom: 0px;
}

.signature{
    text-align: center;
    margin-top: 0px;
    color: #7294c9;
}


/* FOOTER */

.footer{
    background-color: #5b359d;
    color: #fff;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.footer_blocs{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.coord{
    list-style-type: none;
}

.footer_bloc{
   display: flex;
   flex-direction: column; 
}

.footer_bloc p{
    margin-bottom: 0px;
    color: #ad9ace;
    font-weight: bold; 
}

.icones{
    color: #ad9ace;
    width: 25%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}